<template>
    <div>
        <div
            v-for="item in catFacts"
            :key="item._id"
        >
            {{ item.text }}
        </div>
        <div>
            <my-input
                v-for="item in something"
                :key="item"
            />
        </div>
    </div>
</template>

<script>
import MyInput from 'Components/MyInput.vue';
import AboutModule from '../store/modules/about';
import { registerStoreModule } from '../helpers';

export default {
    name: 'About',
    components: {
        MyInput,
    },
    asyncData({ store }) {
        registerStoreModule({ module: AboutModule, moduleName: 'about', store });
        return store.dispatch('about/FETCH_CAT_FACTS');
    },
    data() {
        return {
            something: [
                1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            ],
        };
    },
    head: {
        title() {
            return this.catFacts[0].text;
        },
        meta: [
            { name: 'description', content() { return this.catFacts[0].text; } },
            { name: 'twitter:card', content() { return 'summary_large_image'; } },
            { name: 'twitter:title', content() { return 'My super amazing title'; } },
            { name: 'twitter:description', content() { return 'My super amazing description'; } },
            { name: 'twitter:image', content: 'https://img-cdn.hltv.org/gallerypicture/QqwmAa58zMDYixvHbLKfJR.jpg?ixlib=java-2.1.0&amp;w=800&amp;s=21e3aafcd4b2bd7bbb3364c0334677cb' },
            { name: 'twitter:image:alt', content: 'My super amazing image' },
            { name: 'twitter:creator', content: '@tiko' },
            { name: 'og:site_name', content: 'Site name' },
            { name: 'og:description', content: 'descriptipon' },
            { name: 'og:image', content: 'https://img-cdn.hltv.org/gallerypicture/QqwmAa58zMDYixvHbLKfJR.jpg?ixlib=java-2.1.0&amp;w=800&amp;s=21e3aafcd4b2bd7bbb3364c0334677cb' },
            { name: 'ia:markup_url', content: 'https://img-cdn.hltv.org/gallerypicture/QqwmAa58zMDYixvHbLKfJR.jpg?ixlib=java-2.1.0&amp;w=800&amp;s=21e3aafcd4b2bd7bbb3364c0334677cb' },
        ],
    },

    computed: {
        number() {
            return this.$store.state.about.catFacts;
        },
        catFacts() {
            return this.$store.state.about.catFacts;
        },
    },
    mounted() {
        registerStoreModule({ module: AboutModule, moduleName: 'about', store: this.$store });
    },
    destroyed() {
        this.$store.unregisterModule('about');
    },
};
</script>

<style lang="scss">
    span {
        font-size: 5rem;
    }
</style>
