<template>
    <div>
        <span>
            {{ something }}
        </span>
        <input
            v-model="something"
            class="input"
        >
    </div>
</template>

<script>

export default {
    name: 'Home',
    data() {
        return {
            something: 'something',
        };
    },
    head: {
        title() {
            return 'home';
        },
        meta: [
            { name: 'description', content() { return 'description'; } },
            { name: 'twitter:card', content() { return 'summary_large_image'; } },
            { name: 'twitter:title', content() { return 'My super amazing title'; } },
            { name: 'twitter:description', content() { return 'My super amazing description'; } },
            { name: 'twitter:image', content: 'https://img-cdn.hltv.org/gallerypicture/QqwmAa58zMDYixvHbLKfJR.jpg?ixlib=java-2.1.0&amp;w=800&amp;s=21e3aafcd4b2bd7bbb3364c0334677cb' },
            { name: 'twitter:image:alt', content: 'My super amazing image' },
            { name: 'twitter:creator', content: '@tiko' },
            { name: 'og:site_name', content: 'Site name' },
            { name: 'og:description', content: 'descriptipon' },
            { name: 'og:image', content: 'https://img-cdn.hltv.org/gallerypicture/QqwmAa58zMDYixvHbLKfJR.jpg?ixlib=java-2.1.0&amp;w=800&amp;s=21e3aafcd4b2bd7bbb3364c0334677cb' },
        ],
    },
};
</script>

<style lang="scss" scoped>
    span {
        font-size: 10rem;
        color: $primary-darker;
    }
</style>
