<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <b-input v-model="email" />
            <b-input v-model="password" />
            <button
                type="submit"
                class="button"
                :class="{'is-loading':loading}"
            >
                submit
            </button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            email: '',
            password: '',
            loading: false,
        };
    },
    head: {
        title: 'Login',
    },
    methods: {
        async handleSubmit() {
            try {
                this.loading = true;
                await this.$store.dispatch('LOGIN', { email: this.email, password: this.password });
            } finally {
                this.loading = false;
            }

            if (this.user) {
                await this.$router.push('/profile');
            }
        },
    },
};
</script>

<style lang="scss" scoped>
    span {
        font-size: 2rem;
    }
</style>
