<template>
    <div>
        <span>
            PAGE NOT :(
        </span>
    </div>
</template>

<script>
export default {
    name: 'NotFound',
    data() {
        return {
            something: 'something',
        };
    },
    head: {
        title: 'Not found',
    },
};
</script>

<style lang="scss" scoped>
    span {
        font-size: 2rem;
    }
</style>
