<template>
    <div>
        {{ user.name }}
        {{ user.email }}
        {{ user.password }}
        <a @click="logout">logout</a>
    </div>
</template>

<script>
export default {
    name: 'Profile',
    head: {
        title() { return this.user.name; },
    },
    methods: {
        logout() {
            this.$store.dispatch('LOGOUT');
            this.$router.push('/login');
        },
    },
};
</script>
