<template>
    <div>
        <test />
        <b-input
            v-model="value"
            placeholder="type something"
        />
    </div>
</template>

<script>
import Test from 'Components/Test/index.vue';

export default {
    components: {
        Test,
    },
    data() {
        return {
            value: '',
        };
    },
};
</script>
