// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary-darker: #002D4C;
$primary-dark: #003C6E;
$primary: #004A90;
$primary-light: #006ABB;
$primary-lighter: #0089E5;

$primary-invert: findColorInvert($primary);

$secondary: #A2D9F8;

$grey-darker: #212223;
$grey-dark: #535657;
$grey: #85898C;
$grey-light: #B7BCC0;
$grey-lighter: #E9F0F4;

$warning: #F7D548;
$success: #4BBF7F;
$success-invert: findColorInvert($success);
$warnling-light: #F9A293;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert)
);
