<template>
    <div id="app">
        <component :is="layout">
            <router-view />
        </component>
    </div>
</template>

<script>
import '@/assets/app.scss';

const DEFAULT_LAYOUT = 'DefaultLayout';

export default {
    computed: {
        layout() {
            return this.$route.meta.layout || DEFAULT_LAYOUT;
        },
    },
    mounted() {
        if (!this.user && this.getCookie('token')) {
            this.logout();
        }
    },
    methods: {
        logout() {
            this.$store.dispatch('LOGOUT');
        },
        getCookie(cname) {
            const name = `${cname}=`;
            const decodedCookie = decodeURIComponent(document.cookie);
            const ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i += 1) {
                let c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) === 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return '';
        },
    },
};
</script>
