<template>
    <div>
        <span>YOO SCOUTS default layout</span>
        <img
            svg-inline
            src="../assets/images/settings.svg"
        >
        <img src="../assets/images/discover.png">
        <br>
        <router-link
            v-if="user"
            to="/about"
        >
            about
        </router-link>
        <router-link to="/">
            Home
        </router-link>
        <router-link
            v-if="!user"
            to="/login"
        >
            Login
        </router-link>
        <router-link
            v-else
            to="/profile"
        >
            profile
        </router-link>
        <slot />
    </div>
</template>
<script>
export default {
    name: 'DefaultLayout',
};
</script>
<style lang="scss" scoped>
  span {
    font-size:3rem;
  }
</style>
