<template>
    <div>
        <span>this is Home layout</span>
        <slot />
    </div>
</template>

<script>
export default {
    name: 'HomeLayout',
};
</script>

<style lang="scss" scoped>
span {
    font-size: 2rem;
}
</style>
